html,
body {
  font-family: Arial, sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 50px;
  margin: 0 auto;
  height: 100%;
}


.header {
  background-color: #445162;
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  color: #fff;
}

.header__text-title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  margin-bottom: 40px;
}

.header__text-subtitle {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.subtitle__item::before {
  content: url(/img/check.png);
  margin-right: 10px;
}

.header__image {
  max-width: 469px;
}

/*===============================ABOUT============================================*/

.about {}

.container {}

.about__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about__image {
  background-color: #445162;
  height: 50px;
  max-width: 430px;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.about__flex {
  max-width: 620px;
}

.about__title {
  color: #445161;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}

.about__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


/*===============================COLUMNS============================================*/

.columns {
  background-color: #f5f5f5;
}

.container {}

.columns__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.columns__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  margin-bottom: 20px;
}

.columns__content {
  display: flex;
  flex-wrap: wrap;
}

.columns__content-item {
  display: flex;
  margin-bottom: 30px;
}

.item__image {
  max-width: 200px;
  background-color: #445161;
}

.item__text {
  padding: 0 0 0 15px;
  max-width: 360px;
}

.item__text-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
  margin-bottom: 15px;
}

.item__text-par {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

/*===============================ALIGN============================================*/

.align {
  padding: 50px 0;
}

.align__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}

.align__content {
  max-width: 990px;
  margin: 0px auto;
}

.align__row {
  display: flex;
  margin: 0px -22.5px;
}

.align__column {
  padding: 0px 22.5px;
  flex: 0 1 33.333%;
  display: flex;
}


.align__item {
  background-color: #445162;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #445162;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px 0px;
}

.align__subtitle {
  text-align: center;
  padding: 15px 0;
  font-size: 24px;
  text-transform: uppercase;
}

.align__label {
  text-align: center;
  background-color: #fff;
  padding: 12px 0;
  color: #445162;
  font-size: 40px;
}

.align__text {
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  flex: 1 1 auto;
}

.align__text p {
  margin: 0px 0px 15px 0px;
}

.align__text p:last-child {
  margin: 0;
}

.align__btn {
  display: block;
  margin: 0px 20px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-radius: 5px;
  color: #445161;
  font-size: 18px;
  transition: .2s;
}

.button:hover {
  transform: scale(1.05);
}